# Python
.venv/
__pycache__/
*.py[cod]
*$py.class

# Node.js
node_modules/
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Project specific
yolo26_ob_results/runs/*
!yolo26_ob_results/runs/detect/yolo26_ob_experiment/weights/best.pt

# Database
.env